<StackLayout margin="24" horizontalAlignment="center" verticalAlignment="center">
    <GridLayout rows="auto,auto" columns="*,*">
        <Label row="0" col="1" text="X" style="text-align: right; color: red;font-size: 18px;" (tap)="onCancelButtonTap()"></Label>
        <Label row="1" col="0" colspan="2" text="You don't have an active plan selected. Please select a plan from the below list.." textwrap="true"></Label>
    </GridLayout>

<StackLayout class="p-t-10" verticalAlignment="bottom">
        <Button text="Save" class="find-button platform-button p-b-10" (tap)="onSaveButtonTap()"></Button>
        <Button text="Cancel" class="find-button platform-button" (tap)="onCancelButtonTap()" style="background-color: lightgray;"></Button>
        <StackLayout class="hr-light" class="p-t-10 p-b-10"></StackLayout>
    </StackLayout>
<GridLayout rows="auto,*"  class="c-bg-white">
            
        <SearchBar #planFilterSearchBar 
            hint="Filter..." 
            (loaded)="planSearchBarLoaded($event)" 
            [visibility]="!isplanLoading && (plans && plans.length) ? 'visible' : 'hidden'"
            [text]="filterPlans" 
            (textChange)="onTextChanged($event)" 
            (submit)="onplanFilterSubmit($event)" 
            class="c-bg-lg"></SearchBar>
        <RadListView #planListView [groupingFunction]="planGroupingFunc" row="1" [filteringFunction]="planFilteringFunc"
            [items]="plans" selectionBehavior="Press" (itemSelected)="planSelected($event)" [itemTemplateSelector]="planListViewTemplateSelector">
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout class="c-bg-white p-t-10 p-l-15" columns="*,auto" rows="*,auto">
                    <Label [text]="capitalize(item.plan_name)" class="itemLabel t-18 p-b-10" textwrap="true"></Label>
                    <Label col="1" text="&#xf00c;" [visibility]="item.selected ? 'visible':'hidden'" class="fa pink-accent t-19 text-right p-r-20 p-b-10"></Label>
                    <StackLayout row="1" colspan="2" class="hr-light"></StackLayout>
                </GridLayout>
            </ng-template>

            <ng-template tkTemplateKey="last" let-item="item">
                <GridLayout class="c-bg-white p-t-10 p-l-15" columns="*,auto" rows="*,auto, 60">
                    <Label [text]="capitalize(item.plan_name)" class="itemLabel t-18 p-b-10" textwrap="true"></Label>
                    <Label col="1" text="&#xf00c;" [visibility]="item.selected ? 'visible':'hidden'" class="fa pink-accent t-19 text-right p-r-20 p-b-10"></Label>
                    <StackLayout row="1" colspan="2" class="hr-light"></StackLayout>
                </GridLayout>
            </ng-template>
            
            <ng-template tkGroupTemplate let-category="category">
                <Label [text]="category" height="50" backgroundColor="white" paddingLeft="15"></Label>
            </ng-template>
        </RadListView>
        <ActivityIndicator rowSpan="2" class="activity-indicator" [busy]="isplanLoading"></ActivityIndicator>
    </GridLayout> 
    

        
    <ActivityIndicator rowSpan="2" class="activity-indicator" [busy]="isplanLoading"></ActivityIndicator>
    
</StackLayout>